body {
  background-color: #f1f1f1;
}

.questionWrapper {
  padding: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.qtitle {
  font-weight: 700;
  font-size: 21px;
  padding-bottom: 5px;
}

.explanation {
  color: #1c1c1c;
}

.qdate {
  font-size: 0.75em;
  color: blue;
}
.custom-link {
    color: #3498db; /* Custom color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
    padding: 5px 10px; /* Add padding around the link */
    border-radius: 5px; /* Optional: round the corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.custom-link:hover {
    background-color: #2980b9; /* Change the background on hover */
    color: #fff; /* Change text color on hover */
}

